# Runtime requirements
--requirement requirements.txt

pytest>=5.4.3
pytest-randomly==3.5.0
pre-commit>=2.6.0
tox>=3.16.1

# Linting
flake8>=3.8.3
pylint>=2.6.0
mypy>=0.780
autopep8>=1.5.3
isort>=5.5.2

# Jupyter
jupyter>=1.0.0